.App-footer {
    background-color: #fffff0;
    min-height: 4vh;
    justify-content: left;
    display: flex;
    font-size: calc(5px + 2vmin);
    color: black;
    position:absolute;
    padding: 1vh;
    left:0;
    bottom:0;
    right:0;
  }

.App-icon {
    margin-right: 2vh;
}

.App-iconSlippi {
    color: rgb(38, 176, 70);
}

a {
    color: black;
}